.footer{
    display: flex;
    padding: 2rem 0;
    padding-top: 4rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
  
    .container{
      width: 90%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      .contact-info{
        display: flex;
        flex-direction: column;
        width: 50%;
        p{
          color: #606060;
          font-size: 1.2rem;
          font-weight: 400;
          margin-bottom: 0.3rem;
          span{
            color: #b0c036;
          }
        }
      }
      
      .successMessage{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;     
        font-size: 2.5rem;
        font-weight: 500;
        @media screen and (max-width: 768px) {
          font-size: 1.8rem;
          width: 100%;
        }

        
      }

      .contact-form{
        width: 50%;
          .form{
            display: flex;
            flex-direction: column;
            width: 100%;
            input,
            textarea {
                width: 100%;
                padding: 0.95rem;
                border: none;
                border-radius: 7px;
                background-color: var(--primary-color);
                font-family: var(--font-base);
                outline: none;
            }
          }
      }

    }
  
    @media screen and (max-width: 768px) {
      flex-direction: column;
  
      .container{
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1.5rem;
  
        .contact-info{
          width: 100%;
        }
        .contact-form{
          width: 100%;
        }

      }
      
    }
  
  }
  
  .secondary-footer {
    background-color: #2d3748; // Dark gray color
    color: #e2e3e4; // Light gray color for text
    text-align: center;
    // padding: 1rem 0;
  
    .social-media-links {
      a {
        margin: 0 0.5rem;
        text-decoration: none;
        &:hover {
          color: #9bb133;
        }
      }
    }
    .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
  }